<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Section</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat_style.css') }}">
</head>
<body>

    <!--Room Selection: Side nav bar to display the available rooms of a user-->
    <button class="toggle-button" type="button" onclick="openNav()">
        <i class="fa fa-bars"></i>
        <span class="hover-toggle-button cursor-pointer"> Chat Rooms </span>
    </button>
    <div id="sidebar" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <button type="button" id="home-button" class="btn btn-outline btn-md home-button" onclick="location.href='/'"><i class="fa fa-home"></i> Home</button>
        <h3>Chat Rooms</h3>
        {% for room in rooms %}
            <p id="{{ room }}" class="select-room cursor-pointer">{{ room }}</p>
        {% endfor %}
    </div>
    <!--room selection side nav ends-->


    <!--Main Chat area of the page-->
    <div id="chat-area" class="container">
        <!--Section to display messages-->
        <div id="messages-display-area">

        </div>
        <!--Message display area ends-->

        <!--Section for users to input chat text messages-->
        <div id="message-input-area" class="input-group mb-3">
            <input type="text" id="user-text" placeholder="type here" autocomplete="off" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-info" type="button" id="send-message-button">SEND <i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
        <!--Input box area ends-->

    </div>
    <!--chat area ends-->


    <!--Get Username-->
    <script>
        const username = `{{ username }}`;
    </script>

    <!--Custom JS file-->
    <script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>

    <!--Socket io JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <!--JS for our chat app (client side stuff)-->
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</body>
</html>