<style>
    footer {
         position: unset; 
        bottom: 0;
        width: 100%;
    }
</style>


<footer>
    <div style="
background-color: rgb(11, 11, 61);
height: 300px;
margin-top: 30px;
">

        <div class="row d-flex justify-content-evenly m-0 p-4">
            <div class="col-sm-6">
                <div class="h5 text-light px-4">About Us</div>
                <div class="text-muted text-light">
                    Welcome to the website of Bingo-classified. Every developer in team of Bingo-Classified strives
                    to bring the user's of this website a hassle free and easy shopping experience. Innovation and
                    simplicity makes us happy: Our goal is to help user's to get the best and reasonable
                    deals for their products (or) goods with minimal amount of hassle and in a joyful manner.
                </div>


            </div>
            <div class="col-sm-4 p-0 pl-4">
                <div class="fs-6 text-light">Team Bingo Classified</div>
                <div class="fs-6 text-light ">IIT Bombay</div>


            </div>


        </div>

    </div>
</footer>
