<style>
body {
    padding-top: 70px;
    }
    </style>
<div>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Fixed top</a>
            <div>
                 <button type="button" class="btn btn-outline-info btn-sm" onclick="location.href='chat'"><i class="fas fa-comment-dots fs-3 py-1 v-bottom"></i></button>

                <div class="btn-group">
                    <button class=" btn dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                       Hi User!
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                        <li><a class="dropdown-item" href="profile">Profile</a></li>
                        <li><a class="dropdown-item" href="viewProducts">My Ads</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
              
        </div>
    </nav>
</div>
